<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PD Equipments</title>
</head>
<body>
    
    {% if messages %}
        {% for message in messages %}
            <div style="background-color: rgb(202, 108, 108);">{{message}}</div>
            <br>
        {% endfor %}
    {% endif %}

    {% block content %}

    {% endblock %}

</body>
</html>